@import 'tailwindcss';

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Główne logotypy / Header (duże) */
  --text-fluid-h1: clamp(2.5rem, 8vw, 6rem);
  /* Tytuły sekcji (Burden, Madness) */
  --text-fluid-h2: clamp(2rem, 6vw, 4.5rem);
  /* Cytaty / Lead text */
  --text-fluid-h3: clamp(1.5rem, 4vw, 2.5rem);
  /* Standardowy tekst */
  --text-fluid-p: clamp(0.875rem, 1.2vw, 1rem);
  /* Metadane / Opisy pod tytułami */
  --text-fluid-small: clamp(0.7rem, 0.8vw, 0.8rem);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: var(--text-fluid-h1);
  line-height: 0.9;
}
h2 {
  font-size: var(--text-fluid-h2);
  line-height: 0.9;
}
h3 {
  font-size: var(--text-fluid-h3);
  line-height: 1.1;
}
p {
  font-size: var(--text-fluid-p);
}
